[Unit]
Description=op5 lmd integration
After=syslog.target network.target naemon

[Service]
ExecStart=/opt/monitor/var/lmd/bin/lmd --config=/opt/monitor/var/lmd/lmd.ini --logfile=/opt/monitor/var/lmd/lmd.log &
ExecStartPost=/bin/sleep 4
ExecStartPost=/bin/chmod 777 /opt/monitor/var/rw/live
Restart=always
User=monitor

[Install]
WantedBy=multi-user.target
